<html>
<head>
	  <title>Blog</title>
	<link href="/resources/styles.css" rel="stylesheet" type="text/css">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="author" content="Javier de Martín">
	<meta name="keywords" content="Javier de Martín,ios,programming" />
	<meta name="twitter:site" content="@javierdemartin">
	<meta name="twitter:domain" content="javierdemart.in">
	<meta name="twitter:creator" content="@javierdemartin">
	<meta name="twitter:card" content="summary">
	<meta name="robots" content="index,follow,max-video-preview:-1,max-snippet:-1,max-image-preview:large, max-video-preview:-1, max-video-preview:-1">
	<meta name="googlebot" content="index, follow, max-snippet:-1, max-image-preview:large, max-video-preview:-1"/>
	<meta name="bingbot" content="index, follow, max-snippet:-1, max-image-preview:large, max-video-preview:-1"/>
</head>
<main>

	<h2>Blog</h2>
	
	<% Object.keys(posts).reverse().forEach((year) => { %>		  		
		<% Object.keys(posts[year]).reverse().forEach((month) => { %> 					
			<span class="section" style="">
				<%- year %> × <%- month %>
			</span>

			<% Object.values(posts[year][month]).reverse().forEach((post) => { %> 		    
				<a href="/blog/<%- year %>/<%- month %>/<%- post.replace(".md","") %>"><%- post.replace(".md","").replace(/_/g, " ") %></a></br></br>
			<% }) %>				
		<% }) %>					
	<% }) %>
</main>
</html>
